.home__container {

}

.home__content {
    font-size: 6vw;
    font-weight: bold;
    line-height: 9vw;
    color: $black;
}

.home__link {
    transition: color 0.3s ease-in;
}

.home__work-link {
    animation: color-2 ease-out 1s infinite;
    animation-play-state: paused;
    &:hover {
        animation-play-state: running;
    }
}

.home__email-link {
    animation: color-1 ease-out 1s infinite;
    animation-play-state: paused;
    &:hover {
        animation-play-state: running;
    }
}

.home__social-link {
    animation: color-3 ease-out 1s infinite;
    animation-play-state: paused;
    &:hover {
        animation-play-state: running;
    }
}

.home__content-item {
    color: $white;
    font-weight: 200;
    font-size: $h4;
    line-height: 0.6;
    &--design {
        align-self: start;
    }
    &--music {
        justify-self: center;
    }
    &--systems {
        justify-self: end;
    }
}

@keyframes color-1 {
    from { color: $orange; }
    50% { color: $green }
    to { color: $purple }
  }

@keyframes color-2 {
    from { color: $blue; }
    50% { color: $orange }
    to { color: $green }
}

@keyframes color-3 {
    from { color: $purple; }
    50% { color: $orange }
    to { color: $green }
}
