.posters__section {
    margin-top: $s4;
    &> div {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    & img {
        width: 100%;
        margin-top: -4px; // Spacing problem
    }
}

.posters__link {
    cursor: pointer;
}

.posters__no-link {
    cursor: auto;
}