.work-item__section {
    margin: $s3 0;
    &--figma {
        @include flex;
        margin: $s1 0;
    }
}

.work-item__main-section {
    max-width: 50vw;
    margin: 0 auto;
}

.work-item__header {
    margin-top: $s1;
    margin-bottom: $base-space;
    &--sub-header {
        font-size: $h4 * 0.85;
    }
}

.work-item__description {
    line-height: $base-space * 2;
}

.work-item__list {
    padding-left: $base-space; 
}

.work-item__list-item {
    line-height: $base-space * 2;  
    margin-bottom: $base-space;  
}

.work-item__companies {
    color: $gray-40;
    margin-top: $base-space;
}

.work-item__video {
    width: 50vw;
    height: 30vw;
    margin: $s3 auto; 
}

.work-item__status {
    margin: $s4 0;  
    max-width: 27rem;
    @include flex-ai-center;
}

.work-item__status-item {
    padding: ($base-space * 0.66) $base-space;
    border: 1px solid $black;
    border-radius: $border-radius;
    margin-right: $base-space;
}

.work-item__image {
    width: 70vw;
    height: auto;
    margin: 0 auto;
}

.work-item__image-container {
    @include flex;
    margin: $s1 0;
    align-items: flex-start;
}

.work-item__small-image {
    max-width: 50vw;
    margin: auto;
}

.work-item__image-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2rem;
    align-items: center;
    .work-item__image {
        max-width: 45vw;
    }  
}

.work-item__related-links {
    @include flex-column;
}

.work-item__related-link {
    margin-bottom: $base-space;
}

.work-item__link {
    background: $gray-10;
    padding: $base-space $s4;
    border-radius: $border-radius;
    border: 1px solid $gray-20;
    @include transition(background, 0.3s);
    &:hover {
        background: $gray-20;
    }
}

.work-item__figma {
    border: none;
    width: 70vw;
    height: 50vw;
    margin: auto;
}

@media all and (max-width: 950px) {
    .work-item__image-section {
        @include flex-column;
        .work-item__image {
            width: 80vw;
        }
    }
    .work-item__main-section {
        max-width: 100%;
    }
    .work-item__video {
        width: 80vw;
        height: 50vw;    
    }
}
