// Variables, TODO move to own file

$font-family: Helvetica, Arial, sans-serif;
$body-margin: 5rem; 
$base-font-size: 100%;
$ratio: 1.333;

//colors 

$white: #fefefe;
$black: #111;
$gray-10: #fafafa;
$gray-20: #eee;
$gray-40: #acacac;
$gray-70: #555;

$blue: #1684b2;
$orange: #b27116;
$purple: #3816b2;
$green: #7bf542;

$error: #c40a00;

// Mixins, TODO move to own files

// Flex

@mixin flex {
    display: flex;
}

@mixin flex-column {
    @include flex;
    flex-direction: column;
}

@mixin flex-jc-sb {
    @include flex;
    justify-content: space-between;
}

@mixin flex-jc-center {
    @include flex;
    justify-content: center;
}

@mixin flex-jc-sb-ai-center {
    @include flex;
    justify-content: space-between;
    align-items: center;
}

@mixin flex-ai-center {
    @include flex;
    align-items: center;
}

@mixin flex-ai-center-jc-center {
    @include flex-ai-center;
    justify-content: center;
}

// Type

$body: $base-font-size;

$h4: $base-font-size * $ratio;
$h3: $h4 * $ratio;
$h2: $h3 * $ratio;
$h1: $h2 * $ratio;

@mixin h1 {
    font-size: $h1;
}

@mixin h2 {
    font-size: $h2;
}

@mixin h3 {
    font-size: $h3;
}

@mixin h4 {
    font-size: $h4;
}

@mixin h5 {
    font-size: $base-font-size * 1.11;
}

@mixin h6 {
    font-size: $base-font-size * 0.9;
    color: $gray-40;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

@mixin body {
    font-size: $body;
}

// Space 

$base-space: 1rem;
$spacing-ratio: 1.66;

$s4: $base-space * $spacing-ratio;
$s3: $s4 * $ratio;
$s2: $s3 * $ratio;
$s1: $s2 * $ratio;

// Transition

@mixin transition($thing, $duration) {
    transition: $thing $duration;
}

// Border Radius

$border-radius: 8px;

//base html items

:root {
    font-size: $base-font-size;
    margin: 0;
}

body {
    font-family: $font-family;
    margin: $body-margin;
    box-sizing: border-box;
    background: $white;
}

h1, h2, h3, h4, h5, h6, p, a, li {
    margin: 0;
    color: $black;
}

h1 {
    @include h1;
}

h2 {
    @include h2;
}

h3 {
    @include h3;
}

h4 {
    @include h4;
}

h5 {
    @include h5;
}

h6 {
    @include h6;
}

input {
    border-radius: $border-radius;
    border: none;
    padding: ($base-space - 0.5rem) $base-space;
    font-size: $base-font-size;
    -webkit-box-shadow: inset 0px 0px 0px 1px rgba(17,17,17,0.5);
    -moz-box-shadow: inset 0px 0px 0px 1px rgba(17,17,17,0.5);
    box-shadow: inset 0px 0px 0px 1px rgba(17,17,17,0.5);
    @include transition(box-shadow, 0.3s);
    &:hover {
        -webkit-box-shadow: inset 0px 0px 0px 2px rgba(17,17,17,0.5);
        -moz-box-shadow: inset 0px 0px 0px 2px rgba(17,17,17,0.5);
        box-shadow: inset 0px 0px 0px 2px rgba(17,17,17,0.5);
    }
    &:focus {
        outline: none;
        -webkit-box-shadow: inset 0px 0px 0px 2px rgba(17,17,17,1);
        -moz-box-shadow: inset 0px 0px 0px 2px rgba(17,17,17,1);
        box-shadow: inset 0px 0px 0px 2px rgba(17,17,17,1);
    }
}

button {
    border-radius: 5rem;
    color: $black;
    background: transparent;
    border: none;
    -webkit-box-shadow: inset 0px 0px 0px 1px rgba(17,17,17,0.5);
    -moz-box-shadow: inset 0px 0px 0px 1px rgba(17,17,17,0.5);
    box-shadow: inset 0px 0px 0px 1px rgba(17,17,17,0.5);
    @include transition(box-shadow, 0.3s);
    &:hover , &:focus{
        -webkit-box-shadow: inset 0px 0px 0px 2px rgba(17,17,17,1);
        -moz-box-shadow: inset 0px 0px 0px 2px rgba(17,17,17,1);
        box-shadow: inset 0px 0px 0px 2px rgba(17,17,17,1);
        outline: none;
    }
}

@media all and (max-width: 787px) {
    body {
        margin: 2rem;
    }
}
